{% load common_tags %}

<div class="footer">
    <div class="blank20"></div>
    <div class="container">
        <div class="footer-content">
            <ul>
                <li>
                    <a hidefocus="" href="http://www.to8to.com/about/index.html" target="_blank" rel="nofollow">关于我们</a>
                </li>
                <li>
                    <a hidefocus="" href="http://www.to8to.com/about/contact.html" target="_blank" rel="nofollow">联系我们</a>
                </li>
                <li>
                    <a hidefocus="" href="http://www.to8to.com/about/link.php" target="_blank" rel="nofollow">友情链接</a>
                </li>
                <li>
                    <a href="http://www.to8to.com/help" target="_blank" rel="nofollow">帮助中心</a>
                </li>
                <li>
                    <a hidefocus="" href="http://www.to8to.com/about/feedback.php" target="_blank" rel="nofollow">意见反馈</a>
                </li>
                <li>
                    <a hidefocus="" href="http://www.to8to.com/about/recruiter.php" target="_blank" rel="nofollow">高薪聘请</a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            © 2015 www.0596zhuangxiu.com 漳州装修网 保留所有权利
        </div>
        <div class="footer-copyright">
            漳州第一装修门户网站 漳州装修网 粤ICP备08125558号
        </div>
    </div>
</div>