{% extends 'base.html' %}
{% block title %}2015年装修吉日 装修吉日查询2015 -漳州装修网{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <input type="hidden" id="hidden-nav" value="nav-kalendar" />
    <div class="container">
        <table class="kalendar" width="1000" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th colspan="2" width="100">时间</th>
                <th>宜</th>
                <th>不宜</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="6">一月</td>
                <td>一日</td>
                <td>发动机风刀霜剑疯狂<span class="active">装修</span>的世界的福ID是世界的福ID是世界的福ID是否 i 的手机的福ID是否 i 的手机</td>
                <td>粉色的福ID是否 i 的手机发呆思考加夫里什的</td>
            </tr>
            <tr>
                <td>一日</td>
                <td>发动机风刀霜剑疯狂的世界</td>
                <td>粉色的福ID是否 i 的手机发呆思考加夫里什的剑疯狂的世界</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="blank20"></div>

{% endblock content %}
{% block footer %}{% endblock footer %}