{% extends 'base.html' %}
{% load static %}
{% block title %}
    装修步骤_装修流程 －漳州装修网
{% endblock title %}

{% block content %}
    <input type="hidden" id="hidden-nav" value="nav-buzhou" />
    <div class="container">
        <div class="workflow-wrap">
            <div class="workflow-content">
                <div class="list-header">
                    <div class="list-header-box">
                        准备装修
                    </div>
                </div>
                <div class="list-content">
                    <img width="420" height="200" />
                    <ul>
                        <li><a href="">新房验房注意事项</a></li>
                        <li class="big"><a href="">设计师还是施工队</a></li>
                        <li><a href="">装修预算</a></li>
                    </ul>
                </div>
                <div class="list-header">
                    <div class="list-header-box">
                        开始装修
                    </div>
                </div>
                <div class="list-content">
                    <img width="420" height="200" />
                    <ul>
                        <li><a href="http://www.to8to.com/yezhu/list.php?&btype=3&stype=1&s=1">房子装修中的拆改原则</a></li>
                        <li class="big"><a href="">家装中绝对不能碰的9大敏感禁区</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" />
                    <ul>
                        <li><a href="http://www.to8to.com/yezhu/list.php?&btype=3&s=1&c=shuidian">水路改造注意事项</a></li>
                        <li class="big"><a href="">水电改造都是大学问</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" />
                    <ul>
                        <li><a href="http://www.to8to.com/yezhu/list.php?&btype=3&s=1&c=shuidian">水路改造注意事项</a></li>
                        <li class="big"><a href="">厨卫厨卫厨卫厨卫厨卫厨卫</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" />
                    <ul>
                        <li><a href="http://www.to8to.com/yezhu/list.php?&btype=3&s=1&c=shuidian">水路改造注意事项</a></li>
                        <li class="big"><a href="">木工木工木工木工木工木工</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" />
                    <ul>
                        <li><a href="http://www.to8to.com/yezhu/list.php?&btype=3&s=1&c=shuidian">水路改造注意事项</a></li>
                        <li class="big"><a href="">油漆油漆油漆油漆油漆</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" />
                    <ul>
                        <li><a href="http://www.to8to.com/yezhu/list.php?&btype=3&s=1&c=shuidian">水路改造注意事项</a></li>
                        <li class="big"><a href="">竣工验收竣工验收竣工验收竣工验收</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-header">
                    <div class="list-header-box">
                        软装入住
                    </div>
                </div>

                <div class="list-content">
                    <img width="420" height="200" />
                    <ul>
                        <li><a href="http://www.to8to.com/yezhu/list.php?&btype=3&s=1&c=shuidian">水路改造注意事项</a></li>
                        <li class="big"><a href="">竣工验收竣工验收竣工验收竣工验收</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
{% endblock content %}
