{% extends 'base.html' %}
{% load static common_tags %}
{% block title %}装修步骤_装修流程 －漳州装修网{% endblock title %}
{% block keywords %}装修步骤,装修流程,漳州装修网{% endblock keywords %}
{% block description %}装修步骤,装修流程,漳州装修网{% endblock description %}

{% block content %}
    <input type="hidden" id="hidden-nav" value="nav-buzhou" />
    <div class="container">
        <div class="workflow-wrap">
            <div class="workflow-content">
                <div class="list-header">
                    <div class="list-header-box">
                        准备装修
                    </div>
                </div>
                <div class="list-content">
                    <img width="420" height="200" src="{% static 'images/1.jpg' %}" />
                    <ul>
                        <li>
                            <a href="{% show_full_url 'article:detail' 7 %}" target="_blank">
                                新房收房验房的流程及注意事项
                            </a>
                        </li>
                        <li>
                            <a href="{% show_full_url 'article:detail' 6 %}" target="_blank">
                                100平米房子的装修预算是多少
                            </a>
                        </li>
                        <li class="big">
                            <a href="{% show_full_url 'article:detail' 8 %}" target="_blank">
                                要不要请设计师，设计师的作用？
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="list-header">
                    <div class="list-header-box">
                        开始装修
                    </div>
                </div>
                <div class="list-content">
                    <img width="420" height="200" src="{% static 'images/2.jpg' %}" />
                    <ul>
                        <li class="big"><a href="{% show_full_url 'article:detail' 10 %}" target="_blank">墙体拆改的注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" src="{% static 'images/3.jpg' %}" />
                    <ul>
                        <li class="big"><a href="{% show_full_url 'article:detail' 9 %}" target="_blank">水电改造的流程及注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" src="{% static 'images/4.jpg' %}" />
                    <ul>
                        <li><a href="">水路改造注意事项</a></li>
                        <li class="big"><a href="">厨卫厨卫厨卫厨卫厨卫厨卫</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" src="{% static 'images/5.jpg' %}" />
                    <ul>
                        <li><a href="">水路改造注意事项</a></li>
                        <li class="big"><a href="">木工木工木工木工木工木工</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" src="{% static 'images/6.jpg' %}" />
                    <ul>
                        <li><a href="">水路改造注意事项</a></li>
                        <li class="big"><a href="">油漆油漆油漆油漆油漆</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" src="{% static 'images/7.jpg' %}" />
                    <ul>
                        <li><a href="">水路改造注意事项</a></li>
                        <li class="big"><a href="">竣工验收竣工验收竣工验收竣工验收</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-content">
                    <img width="420" height="200" src="{% static 'images/8.jpg' %}" />
                    <ul>
                        <li><a href="">水路改造注意事项</a></li>
                        <li class="big"><a href="">竣工验收竣工验收竣工验收竣工验收</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

                <div class="list-header">
                    <div class="list-header-box">
                        软装入住
                    </div>
                </div>

                <div class="list-content">
                    <img width="420" height="200" src="{% static 'images/9.jpg' %}" />
                    <ul>
                        <li><a href="">水路改造注意事项</a></li>
                        <li class="big"><a href="">竣工验收竣工验收竣工验收竣工验收</a></li>
                        <li><a href="">结构拆改注意事项</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
{% endblock content %}
